/*Contenido Principal*/
.contenido-principal {
     @include ScreenSize {
          display: grid;
          grid-template-columns: 2fr 1fr;
          column-gap: 4rem;
     }
}

.entrada__contenido {
     h4 {
          @include no-margin
     }
}

.entrada {
     border-bottom: 1px solid $Cgris;
     margin-bottom: 2rem;

     &:last-of-type {
          border-bottom: none;
          margin-bottom: 0;
     }
}

.boton {
     display: block;
     font-family: $PTsans;
     color: $Cblanco;
     @include centrar-texto;
     padding: 1rem 3rem;
     font-size: 1.84rem;
     text-transform: uppercase;
     font-weight: 700;
     margin-bottom: 2rem;
     border: none;

     @include ScreenSize {
          display: inline-block;
     }

     &--primario {
          background-color: $Cnegro;
          &:hover {
               cursor: pointer;
               box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75), 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
          }
     }
     &--secundario {
          background-color: $Cprimario;
          &:hover {
               cursor: pointer;
               box-shadow: -1px 0px 5px 0px rgba(120, 77, 60, 0.75), 2px 2px 5px 0px rgba(120, 77, 60, 0.75);
          }
     }
}

/*Nosotros*/
.contenedor {

     &__nososotros,
     &__cursos {
          h3 {
               @include centrar-texto;
          }
     }
}

.sobre-nosotros {
     @include ScreenSize {
          display: flex;
          justify-content: space-between;
          /*gap: 2rem*/
     }

     &__imagen,
     &__texto {
          @include ScreenSize {
               //margin: 0 1rem;
               flex-basis: calc(50% - 1rem);
          }
     }
}

/*Cursos*/
.curso {
     padding: 3rem 0;
     border-bottom: 1px solid $Cgris;

     &:last-of-type {
          border-bottom: none;
     }

     @include ScreenSize {
          display: grid;
          grid-template-columns: 1fr 2fr;
          column-gap: 2rem;
     }

     &__label {
          font-family: $OpenSans;
          font-weight: 700;
          font-size: 2rem;
     }

     &__info {
          font-weight: 400;
          font-size: 2rem;
     }
}

/*Contacto*/
.contacto-bg {
     background-image: url(../img/contacto.jpg);
     height: 40rem;
     background-size: cover;
     background-repeat: no-repeat;
}

.formulario {
     background-color: $Cblanco;
     margin: -5rem auto 0 auto;
     width: 95%;
     padding: 5rem;

}

.campo {
     display: flex;
     margin-bottom: 2rem;

     &__label {
          flex: 0 0 9rem;
          text-align: right;
          margin: 0 1rem
     }

     &__field {
          flex: 1;
          border: 1px solid $Cgris;

          &--textarea {
               height: 20rem;
          }
     }
}